{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Shell Eco Marathon</title>
	<link rel="stylesheet" type="text/css" href="{% static 'pages/teamEcoTitansTeam.css' %}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript">
		$(document).ready(function()
		{
			$(".link1").mouseover(function()
			{
				$(".line").css("left","61.2vw");
				$(".line").css("width","2.5vw");
			});
			$(".link2").mouseover(function()
			{
				$(".line").css("left","65vw");
				$(".line").css("width","4vw");
			});
			$(".link3").mouseover(function()
			{
				$(".line").css("left","70vw");
				$(".line").css("width","5vw");
			});
			$(".link4").hover(function()
			{
				$(".line").css("left","76.5vw");
				$(".line").css("width","4.5vw");
			});
			$(".link5").hover(function()
			{
				$(".line").css("left","82.2vw");
				$(".line").css("width","7vw");
			});
			$(".link6").hover(function()
			{
				$(".line").css("left","90.7vw");
				$(".line").css("width","4.5vw");
			});
		});
	</script>
</head>
<body>

	<div class="loaderScreen">
		<div class="loader">
			<div class="dot"></div>
		</div>
	</div>

	<div class="head">
		<img src="{% static 'ShellEcoImages/logo.png' %}" />
		<a href="/" class="link1">HOME</a>
		<a href="/about/" class="link2">ABOUT</a>
		<a href="/efficiency/" class="link3">OUR CARS</a>
		<a href="/team/" class="link4">THE TEAM</a>
		<a href="/sponsors/" class="link5">PARTNERSHIPS</a>
		<a href="{% static 'ShellEcoImages/sponsershipPackage.pdf' %}" class="link6" />MAGAZINE</a>
		<span class="span" style="cursor:pointer" onclick="openNav()">&#9776;</span>
		<div class="line"></div>
	</div>

	<div id="mySidenav" class="sidenav">
		<a class="closebtn" onclick="closeNav()">&times;</a>
		<a href="/">Home</a>
		<a href="/about/">About</a>
		<a href="/efficiency/">Our Cars</a>
		<a href="/team/">The Team</a>
		<a href="/sponsors/">Partnerships</a>
		<a href="{% static 'ShellEcoImages/sponsershipPackage.pdf' %}" />Magazine</a>
	</div>

	<div class="titans">
		<div class="colorBlack">
			<h1>TEAM BITS 2019</h1>
		</div>
	</div>

	<div class="captain">
		<h1>SUBSYSTEMS HEADS</h1>
		<h6 class="h61">Team manager EV, Design Head</h6>
		<h6 class="h62">Team manager ICE vehicle</h6>
		<h6 class="h63">Vehicle dynamics head</h6>
		<h6 class="h64">Technical Head ICE vehicle</h6>
		<br>
		<div class="teamCaptain">
			<img src="{% static 'ShellEcoImages/66.jpg' %}" />
			<p>Prateek Jain</p>
		</div>
		<div class="teamViceCaptain">
			<img src="{% static 'ShellEcoImages/67.jpg' %}" />
			<p>Aman Garg</p>
		</div>
		<div class="teamABCD">
			<img src="{% static 'ShellEcoImages/69.jpg' %}" />
			<p>Utkarsh Agarwal</p>
		</div>
		<div class="teamManager">
			<img src="{% static 'ShellEcoImages/68.jpg' %}" />
			<p>Siddhant Jain</p>
		</div>
	</div>

	<div class="footer">
		<div class="cover">
			<p>We at Team BITS are designing and building a highly energy efficient prototype vehicle. Making an ultra fuel efficient vehicle with an aim to achieve zero fuel emissions and increasing the efficiency of the 100% ethanol fueled car and development of energy efficient electric vehicle is our moto.</p>
			<hr>
			<h1>Copyright © 2018 Team BITS. All Rights Reserved.</h1>
			<a class="facebook" href="https://m.facebook.com/profile.php?id=228172260639135&ref=content_filter"><i class="fa fa-facebook"></i></a>
			<a class="instagram" href="https://www.instagram.com/team_bits_shellecomarathon/"><i class="fa fa-instagram"></i></a>
		</div>
	</div>

	<script type="text/javascript">

		window.addEventListener("load", function()
		{
			var load_screen = document.getElementsByClassName("loaderScreen")[0];
			document.body.removeChild(load_screen);
		});
		
		function openNav() {
		    document.getElementById("mySidenav").style.width = "250px";
		}

		function closeNav() {
		    document.getElementById("mySidenav").style.width = "0";
		}
	</script>

</body>
</html>
